<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>

<title>Hello</title>
{% if name %}
<h1>Hello {{ name }}!</h1>
{% else %}
<h1>Hello, World!</h1>
{% endif %}

<body>

    <form action="/" method="post">

        {%  for i in range(1, number + 1) %}
            {{ course }}-{{ year }}-{{ "%02d" %i }}: &emsp;
            Present
            <input type="radio" name="roll_no{{ i }}" value="P">
            Absent
            <input type="radio" name="roll_no{{ i }}" value="A" checked="checked">
            <br />
            <br />
        {% endfor %}
        <br />
        <br />
        <br />
        <input type="submit" name="submitBtn" value="Submit">

    </form>
</body>
