<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

<title>Attendance</title>

<body>

    <form action="/" method="post">
        <p>
            <label for="name">Enter your name</label>
            <input type="text" id="name" name="name" value="">
        </p>
        <br />
        <br />
        <br />
        <input type="submit" name="submitBtn" value="Next">

    </form>

    <a href="/view.html">View previous records</a>
    <a href="/result.html">Check integrity of blockchain</a>
</body>
